@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RDA CoffeeShop - Admin</title>
</head>
<body>

    <h2> Welcome, admin</h2>

    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Restaurant_N%C3%A4sinneula.jpg" alt="restaurant" style="width:600px;height:450px;">

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 900px;
        }

        td, th {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>


    <h2>Waiting orders:</h2>

    <table>
        <tr>
            <th>Order</th>
            <th>Name</th>
        </tr>
        <tr>
            <td>1 big Latte</td>
            <td>Maria</td>

        </tr>
        <tr>
            <td>Salamon sandwich + 1 little capuccino</td>
            <td>Ron</td>

        </tr>
        <tr>
            <td>2 capuccino + salad + chocolate bar</td>
            <td>Noa</td>

        </tr>
        <tr>
            <td>Cheese cake + tea</td>
            <td>Helen</td>

        </tr>
    </table>
</body>
</html>


