@model coffeeshop.Models.User

@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<body>
    <div>
        @using (Html.BeginForm("Authenticate", "Login", FormMethod.Post))
        {
            <h2 style="font:20px">Employees Login</h2>
            <table>
                <tr>
                    <td>User Name:</td>
                    <td>@Html.TextBoxFor(m => m.UserName)</td>
                    <td><div style="color:red">@Html.ValidationMessageFor(x => x.UserName)</div></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>@Html.PasswordFor(m => m.Password)</td>
                    <td><div style="color:red">@Html.ValidationMessageFor(x => x.Password)</div></td>
                </tr>
                <tr>
                    <td><input id="Submit" name="Submit" type="submit" value="Login" /></td>
                </tr>
            </table>
        }
        <br />
    </div>
</body>
</html>
