@{
    ViewBag.Title = "Contact Us!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    SCE College<br />
    Basel 1, Beer Sheva<br />
    <abbr title="Phone">P:</abbr>
    08-6470462
</address>

<address>
    <strong>Manager- Ron:</strong>   <a href="mailto:ronba2@ac.sce.ac.il">ronba2@ac.sce.ac.il</a><br />
</address>